<div class="login">
      <div class="login-form">
            <div class="login-header">
                  <div class="login-header-text">Login</div>
            </div>
            <div class="login-body">
                  <div class="input-wrapper">
                        <input placeholder="Username">
                        <i class="fa fa-asterisk"></i>
                  </div>
                  <div class="input-wrapper">
                        <input placeholder="Password">
                        <i class="fa fa-asterisk"></i>
                  </div>
                  <button type="button" class="btn btn-outline-primary">Login</button>
            </div>
            <div class="login-footer">
                  <div class="login-footer-text">
                        <i class="fa fa-asterisk"></i> Required Field
                  </div>
            </div> 
      </div>
</div>